*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    font-family: sans-serif;
    background: #fff;
}

header, footer{
    height: 15rem;
    width: 100%;
    background: #f4e4dc;
    display: flex;
    list-style: none;
}

nav{
    height: 100%;
    width: 100%;
}

.navigation{
    height: 100%;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 10rem;
}

.navigation div{
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: 4rem;
}

.navigation div li a{
    text-decoration: none;
    color: #000000;
}

.navigation div li a:hover{
    color:grey;
}

.logo{
    height: 10rem;
    padding: 1rem;
    padding-left: 4rem;
}

.sections{
    margin-bottom: 10rem;
    margin: 4rem;
}

.section1{
    height: 75rem;
    background-image: url(/img/wallpaper2.jpg);
    background-size: 100vw 75rem;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 4rem;
}

.slogan{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 10rem;
    color: #000000;
    padding-left: 8rem;
}

.button1{
    text-decoration: none;
    color: #fff;
    background: #212121;
    border-radius: 0.1rem;
    padding: 1.5rem 8rem 1.5rem 8rem;
    font-size: 5rem;
    margin-top: 7rem;
}

.button1:hover{
    background: #313131;
}


.section2{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem;
    gap: 4rem;
}

.top{
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
}

.topImage{
    height: 50rem;
    object-fit: contain;
    border-radius: 0.2rem;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    font-size: 2.5rem;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 5rem 0 rgba(0, 0, 0, 0.2);
}

.text h2{
    font-size: 6rem;
}

.button2{
    text-decoration: none;
    color: #fff;
    background: #212121;
    border-radius: 0.1rem;
    padding: 1.5rem 6.8rem 1.5rem 6.8rem;
    font-size: 5rem;
    margin-top: 7rem;
}

.button2:hover{
    background: #313131;
}

.bottom{
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    gap: 4.7rem;
    flex-wrap: wrap;
}

.bottomImages{
    height: 30rem;
    object-fit: contain;
    border-radius: 0.2rem;
}


.section3{
    display: grid;
    grid-template-areas: 
    "block1 block2 block3 block4";
    padding: 4rem;
}

.block1, .block2, .block3, .block4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.block1 figure, .block2 figure, .block3 figure, .block4 figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 2.5rem;
    gap: 1rem;
}

.block1 img, .block2 img, .block3 img, .block4 img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 15rem 1rem 10rem;
    font-size: 150%;
    gap: 15rem;
    margin-bottom: 10rem;
}

.section4 img{
    height: 80rem;
    border-radius: 0.2rem;
}

.section4 figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    box-shadow: 1rem 1rem 5rem 0 rgba(0, 0, 0, 0.2);
    padding: 10rem 2rem 10rem 5rem;
    gap: 3rem;
}

.section5{
    display: flex;
    height: auto;
    padding: 4rem;
    align-items: center;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    gap: 2rem;
    flex-wrap: wrap;
}

.arrow{
    width: 10%;
    background: white;
    font-size: 300%;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    cursor: pointer;
}

.review{
    width: 45rem;
    min-height: 30rem;
    background: darkred;
    list-style: none;
    padding: 4rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2),
    inset 0 -1rem 1rem -1rem rgba(0,0,0,0.2);
    position: relative;
    animation: fadeIn 0.8s;
}

.review:nth-of-type(4),.review:nth-of-type(5),.review:nth-of-type(6){
    display: none;
}

.quote img{
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0.5;
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
}

.stars{
    color: gold;
}

.review p {
    font-size: 100%;
    font-style: italic;
    padding-bottom: 2rem;
    border-bottom: 0.5rem solid #f4e4dc;
}

footer nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.links{
    width: 20%;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

.links li a{
    color: black;
}


/* Producten overzicht */

.Productenoverzicht1{
    font-size: 2rem;
    background: #eee;
    font-family: sans-serif;
    padding: 8rem;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    width: 100%;
    margin-bottom: 4rem;
    margin-left: 2rem;
    flex-wrap: wrap;
}

.inputs > div{
    display: flex;
    align-items: center;
    width: 40rem;
}

.filter{
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    -webkit-appearance: none;
    appearance: none;
    background: #eee;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5rem 0 rgba(0,0,0,0.2);
}

.filter:checked{
    background: pink;
}

.filter:checked ~ .label{
    text-decoration: underline;
}

.games{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.game{
    list-style: none;
    width: 25rem;
    height: 30rem;
    transition: 0.2s transform;
    flex-grow: 1;
}

.game:hover{
    transform: scale(1.02) translateY(-0.7rem);
    cursor: pointer;
}

.game img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*GameCard Animation*/
@keyframes away {
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}


/*reviews fadeIn*/

@keyframes fadeIn{
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}



